:root {
    --text-light: #545a68ff;
    --thead-background: #f3f4f6;
    --th-color: #111827;
    --td-color: black;
    --tr-background-hover: #f9fafb;
    --tborder: #e5e7eb;
    --heading-color: #111827;
    --body-background: #f9fafb;
    --main-background: #ffffff;
    --color: #333;
    --a-color: #3b82f6;
    --shadow: #0000000d;

    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --secondary: #6366f1;
    --secondary-hover: #4f46e5;
    --warn: #ff5e5eff;
    --warn-hover: #ff0000ff;

    --card-text: black;
    --card-border: #e5e7eb;
    --card-background: #fff;

    --notification-color: var(--color);
    --notification-background: #b1ecff;
    --notification-border: blue;

    --notification-warn-color: #7a1a0a;
    --notification-warn-background: #fff0ee;
    --notification-warn-border: #ff5e5e;

    --notification-success-color: #14532d;
    --notification-success-background: #e6f9f0;
    --notification-success-border: #22c55e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-light: #d1d5db;
        --thead-background: #374151;
        --th-color: #f9fafb;
        --td-color: #e5e7eb;
        --tr-background-hover: #1f2937;
        --tborder: #4b5563;
        --heading-color: #f9fafb;
        --body-background: #111827;
        --main-background: #1f2937;
        --color: #e5e7eb;
        --a-color: #60a5fa;
        --shadow: #0000004d;

        --primary: #2563eb;
        --primary-hover: #1d4ed8;
        --secondary: #4f46e5;
        --secondary-hover: #4338ca;
        --warn: #b91c1c;
        --warn-hover: #ff0000ff;

        --card-text: #f9fafb;
        --card-border: #374151;
        --card-background: #1f2937;

        --notification-color: #e0f2fe;
        --notification-background: #2563eb;
        --notification-border: #3b82f6;

        --notification-warn-color: #fca5a5;
        --notification-warn-background: #4a1515;
        --notification-warn-border: #b91c1c;

        --notification-success-color: #86efac;
        --notification-success-background: #052e16;
        --notification-success-border: #16a34a;
    }
}
