:root {
    --text-light: #545a68ff;
    --thead-background: #f3f4f6;
    --th-color: #111827;
    --td-color: black;
    --tr-background-hover: #f9fafb;
    --tborder: #e5e7eb;
    --heading-color: #111827;
    --body-background: #f9fafb;
    --main-background: #ffffff;
    --color: #333;
    --a-color: #3b82f6;
    --shadow: #0000000d;

    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --warn: #ff5e5eff;
    --warn-hover: #ff0000ff;

    --card-text: black;
    --card-border: #e5e7eb;
    --card-background: #fff;

    --notification-color: var(--color);
    --notification-background: #b1ecff;
    --notification-border: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-light: #d1d5db;
        --thead-background: #374151;
        --th-color: #f9fafb;
        --td-color: #e5e7eb;
        --tr-background-hover: #1f2937;
        --tborder: #4b5563;
        --heading-color: #f9fafb;
        --body-background: #111827;
        --main-background: #1f2937;
        --color: #e5e7eb;
        --a-color: #60a5fa;
        --shadow: #0000004d;

        --primary: #2563eb;
        --primary-hover: #1d4ed8;
        --warn: #b91c1c;
        --warn-hover: #ff0000ff;

        --card-text: #f9fafb;
        --card-border: #374151;
        --card-background: #1f2937;

        --notification-color: #e0f2fe;
        --notification-background: #2563eb;
        --notification-border: #3b82f6;
    }
}
