.card {
    color: var(--card-text);
    border: 1px solid var(--card-border);
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--card-background);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.checkbox-button {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    border-radius: 6px;        
}
