/**
 * Flex
 */

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.row-0 {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column-4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.end {
    justify-content: flex-end;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

/**
 * Margin and Padding
 */

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.px-1 {
    padding-inline: 1rem;
}

.py-05 {
    padding-block: 0.5rem;
}

.mb {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.pl {
    padding-left: 1rem;
}

/**
 * Width
 */

.w-full {
    width: 100%;
}

.w-min-40 {
    min-width: 40rem;
}

/**
 * Text
 */

.text-light {
    color: var(--text-light);
}

.text-bold {
    font-weight: bold;
}

/**
 * Other Stuff
 */

.overflow-x-auto {
    overflow-x: auto;
}

.nowrap {
    white-space: nowrap;
}

.bg-primary {
    background: var(--primary);
}

.text-center {
    text-align: center;
}

.text-center-both {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/**
 * Border
 */

.border {
    border: 1px var(--text-light) solid;
}

.rounded {
    border-radius: 1em;
}
